body{
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; 
     align-items: center; */
}
.title-Page{
    font-family: 'Indie Flower', cursive;
    font-size: 60px; 
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.header{
    display: flex;
    /* background-color: aqua; */
    /* border: dashed 2px red; */
    justify-content: center;
    align-items: center;
    /* column-gap: 5px; */
    /* width: 100%; */
    margin-bottom: 20px;
}
.header-basic{
    display: flex;
    /* background-color: aqua; */
    align-items: center;
}
.header-AI-Mode{
    display: flex;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
}
/*  */
.fontStyleHeader{
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}
.header p:nth-child(1){
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}
label{
    font-family: 'Alkatra', cursive;
    font-size: 20px;
    padding-left: 5px;
    /* padding-right: 5px; */
}
.radio-btn-choose{
    accent-color: #1d2b3b;
}
/*  */
/* .header div:nth-child(2){
    padding: 5px 10px;
    font-size: 20px;
    background-color: #d8e9ff;
    border-radius: 5px;
} */
#hint-btn{
    margin-right: 30px;
}
.btn{
    display: flex;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px black;
    cursor: pointer;
    width: 60px;
    height: 20px;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: #1d2b3b;
    color: #ffff;
    transition: 400ms;
}
.btn-i{
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px black;
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
}
.btn-i:hover{
    background-color: #1d2b3b;
    color: #ffff;
    transition: 400ms;
}
.mov-num{
    font-size: 20px;
}
.mode-choice{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#solve-btn{
    margin-right: 30px;
}

#dec-btn{
    margin-right: 30px;
}
#moves-num{
    margin-right: 30px;
}
/* ******************************************************* */
.paly-body{
    display: flex;
    column-gap: 50px;
    padding-top: 20px;
    justify-content: center;
}
.tour{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative ;
}
.vertical{
    background-color: #dd4433;
    width: 5px;
    height: 250px;
    /* display: flex; */
}
.horizontal{
    background-color: #dd4433;
    width: 350px;
    height: 5px;
}

.ring{
    /* width: 200px; */
    height: 30px;
    /* background-color: purple; */
    border-radius: 20px;
    border: solid black 1px;
    /* margin-top: 2px; */
    
}
.ring-container{
    position: absolute;
    bottom: 5px;
    /* border: 1px solid aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 280px;
    justify-content: flex-end;
}
/* *****************  */
.stBox{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:30px;
}
.stBox p{
    width: 80px;
    height: 30px;
    margin: 0;
    display: none;
}
.work-status{
    /* margin-top: 30px; */
    /* margin-bottom: 20px; */
    font-family: 'Alkatra', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ******** */
.transitionArea{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}
.area{
    height: 35px;
    display: flex;
    width: 350px;
    /* border: green solid 1px; */
    justify-content: center;
}

/* Slider */

.slidecontainer {
    width: 150px; /* Width of the outside container */
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
/* End Slider */

.allContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.min-mov{
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Alkatra', cursive;

}
.header-AI-Mode p{
    /* padding: 0; */
    margin: 0;
}