body{
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; 
     align-items: center; */
}

.header{
    display: flex;
    /* background-color: aqua; */
    border: solid 1px red;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 100%;
}

.header p:nth-child(1){
    font-size: 20px;
}
.header div:nth-child(2){
    padding: 5px 10px;
    font-size: 20px;
    background-color: #d8e9ff;
    border-radius: 5px; 
}
.btn{
    padding: 5px 10px;
    font-size: 20px;
    background-color: #d8e9ff;
    border-radius: 5px;   
}

.mov-num{
    font-size: 20px;
}
.mode-choice{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#solve-btn{
    margin-right: 30px;
}
#hint-btn{
    margin-right: 30px;
}
#dec-btn{
    margin-right: 30px;
}
#moves-num{
    margin-right: 30px;
}
/* ******************************************************* */
.paly-body{
    display: flex;
    column-gap: 20px;
    padding-top: 20px;
    justify-content: center;
}
.tour{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative ;
}
.vertical{
    background-color: #dd4433;
    width: 5px;
    height: 300px;
    /* display: flex; */
}
.horizontal{
    background-color: #dd4433;
    width: 350px;
    height: 5px;
}

.ring{
    /* width: 200px; */
    height: 30px;
    /* background-color: purple; */
    border-radius: 20px;
    border: solid black 1px;
    /* margin-top: 2px; */
    
}
.ring-container{
    position: absolute;
    bottom: 5px;
    border: 1px solid aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100%;
    justify-content: flex-end;
}
/* *****************  */
.work-status{
    font-size: 30px;
}

/* ******** */
.transitionArea{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.area{
    height: 35px;
    display: flex;
    width: 350px;
    border: green solid 1px;
    justify-content: center;
}

/* Slider */

.slidecontainer {
    width: 12%; /* Width of the outside container */
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
/* End Slider */

.allContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.min-mov{
    margin-top: 40px;
    font-size: 30px;
}